@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Nunito, "Times New Roman", Times, serif;
}

:root {
  --white-square: rgb(238, 238, 210);
  --black-square: rgb(118, 150, 86);
  --square-size: 60px;
  --check-red: #f08080;
  --green-highlight: rgba(187, 203, 70);
  --yellow-highlight: rgba(247, 248, 131);
  --green: rgb(134, 169, 75);
  --dark-green: rgb(109, 132, 62);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

#game {
  display: flex;
  gap: 15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, var(--square-size));
  grid-template-rows: repeat(8, var(--square-size));
}

.square {
  padding: 8px;
  position: relative;
}

.square.highlighted::before {
  content: "";
  position: absolute;
  top: calc(50% - var(--square-size) / 6);
  left: calc(50% - var(--square-size) / 6);
  width: calc(var(--square-size) / 3);
  height: calc(var(--square-size) / 3);
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 50%;
  z-index: 50;
}

.piece {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile */
}

.square:has(.piece.checked) {
  background-color: var(--check-red) !important;
}

.piece img {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.number-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  user-select: none;
  font-weight: 700;
}
.char-icon {
  position: absolute;
  bottom: 2px;
  right: 2px;
  user-select: none;
  font-weight: 700;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  column-gap: 2rem;
  row-gap: 5px;
  font-weight: bold;
  width: fit-content;
  height: 100px;
  overflow-y: scroll;
  padding-top: calc(var(--square-size) / 3);
}

.promo {
  position: absolute;
  display: flex;
  gap: 0.8rem;
  width: 400%;
  height: 100%;
}

.piece:has(.promo) {
  cursor: unset;
}

.piece .promo .option {
  cursor: pointer;
}

.promo .option:hover {
  scale: 1.2;
}

.square.black {
  background-color: var(--black-square);
}
.square.white {
  background-color: var(--white-square);
}

.square.black.last-move {
  background-color: var(--green-highlight) !important;
}
.square.white.last-move {
  background-color: var(--yellow-highlight) !important;
}

#checkmate__menu {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem 2rem;
  min-height: 60px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.2rem;
}
#checkmate__menu .message {
  display: flex;
  gap: 10px;
  font-weight: 700;
}
#restart_button {
  background-color: var(--green);
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 0px 0px var(--dark-green);
}

#black_cp,
#white_cp {
  display: flex;
  user-select: none;
  font-weight: bold;
  height: calc(var(--square-size) / 3);
}

#black_cp img,
#white_cp img {
  width: calc(var(--square-size) / 3);
  height: calc(var(--square-size) / 3);
}

@media only screen and (max-width: 1000px) {
  #game {
    flex-direction: column;
  }
  .history {
    padding-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: small;
  }
  :root {
    --square-size: 45px;
  }
}

@media only screen and (max-width: 380px) {
  * {
    font-size: x-small;
  }
  :root {
    --square-size: 35px;
  }
}
