@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Nunito, "Times New Roman", Times, serif;
}

:root {
  --white-square: rgb(238, 238, 210);
  --black-square: rgb(118, 150, 86);
  --square-size: 60px;
  --check-red: #f08080;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

#game {
  display: flex;
  gap: 15px;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, var(--square-size));
  grid-template-rows: repeat(8, var(--square-size));
}

.square {
  padding: 8px;
  position: relative;
}

.square.highlighted::before {
  content: "";
  position: absolute;
  top: calc(50% - var(--square-size) / 6);
  left: calc(50% - var(--square-size) / 6);
  width: calc(var(--square-size) / 3);
  height: calc(var(--square-size) / 3);
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 50%;
  z-index: 50;
}

.piece {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile */
}

.square:has(.piece.checked) {
  background-color: var(--check-red) !important;
}

.piece img {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.number-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  user-select: none;
}
.char-icon {
  position: absolute;
  bottom: 2px;
  right: 2px;
  user-select: none;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  column-gap: 2rem;
  row-gap: 5px;
  font-weight: bold;
  width: fit-content;
  height: 100px;
  overflow-y: scroll;
}

.promo {
  position: absolute;
  display: flex;
  gap: 0.8rem;
  width: 400%;
  height: 100%;
}

.piece:has(.promo) {
  cursor: unset;
}

.piece .promo .option {
  cursor: pointer;
}

.promo .option:hover {
  scale: 1.2;
}

@media only screen and (max-width: 1000px) {
  #game {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: small;
  }
  :root {
    --square-size: 45px;
  }
}

@media only screen and (max-width: 380px) {
  * {
    font-size: x-small;
  }
  :root {
    --square-size: 35px;
  }
}
